body
{

		background: url("images/fond2.jpg") no-repeat;
		background-attachment: fixed;
		background-size: cover;

}

h1
{
	color: #E2B88E;
	text-align: center;
	font-family: monospace;
	font-size: 600%;
}

*, *:after, *:before
{
	box-sizing: border-box;
}

a
{
	text-align: center;
}

.btn-dark
{
	background-color: #E2B88E;


}

h1
{
	font-size: 3.5vw;
	font-family: monospace;
}


#principal
{
	padding: 7%;
}

#principal .bvn
{
	display: block;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 2vw;
	font-family: monospace;
	width: 60%;
	float: left;
	margin: 0;

}

#principal .remy
{
	display: block;
	width: 100%;
}

#principal #btn2
{
	display: block;
	width: 100px;
	max-width: 100%;
	margin: auto;
	margin-top: 25px;
}


.clear
{
	clear: both;
}

.floatright
{
	float: right; /* pour placer l'image a droite du bloc bvn */
	width: 30%;	/*taille */
	max-width: 250px; /*le max */
}

.btn_contacter
{


	font-family: monospace;

}


.phrase_contacter
{



	position: absolute;
	display: block;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 2vw;
	font-family: monospace;
	width: 55%;
	float: left;
	margin-left: 9vh;
	text-align: center;

}


.footer
{
	padding: 20px 0px; /* élève le footer*/
	font-size: 20px;
	background-color: rgba(0,0,0,0.6);
	border-top: 1px solid #3a3a3a; /* petite bande grise au dessus du footer*/
	color: #777;
	position: fixed;
	bottom: 0px;
	width: 100%;

}
.navbar
{
	background-color: rgba(0,0,0,0.6);
	border-bottom: 1px solid #3a3a3a;
	color: #777;
	position: fixed;

	width: 100%;
}

form
{
	padding: 5%;
}

form input, form textarea
{
	width: 100%;
	margin-bottom: 10px;
	font-family: monospace;
}

form input[type=submit]
{
	width: 100px;
	margin: auto;
	display: block;
}


.texp
{
	position: absolute;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 2vw;
	font-family: monospace;
	margin-left: 4vh;
	margin-right: 4vh;

}

.exp
{
	position: absolute;
	display: block;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 1vw;
	font-family: monospace;
	margin-top: 1vh;
	margin-left: 4vh;
	margin-right: 4vh;
}

.exp2
{
	position: absolute;
	display: block;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 1vw;
	font-family: monospace;
	margin-top: 21vh;
	margin-left: 4vh;
	margin-right: 4vh;
	margin-bottom: 4vh;
}


.texp2
{
	position: absolute;
	color: #E2B88E;
	background-color: rgb(0,0,0,0.6);
	font-size: 2vw;
	font-family: monospace;
	margin-top: 15vh;
	margin-left: 4vh;
	margin-right: 4vh;

}
.container
{
	position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.rf
{
	color: #FFF;
	font-size: 75px;
}
.bvnp
{
	color: #FFF;
	font-size: 22px;
	letter-spacing: 2px;
}

.cont
{
	text-align: end;
}

.headerButtons
{
	display: block;
	text-align: right;
	margin-right: 10px;
}

.headerButtons .btn { float: none; }

.base
{
	color: #FFF;
	font-size: 20px;
	letter-spacing: 2px;
	background-color: rgb(0,0,0,0.6);
}

#logoC
{
	width: 15%;
	height: 15%;
}
#logoHC
{
	width: 40%;
	height: 40%;
  padding-left: 80px;
	padding-right: 80px;
}
#logoL
{
	width: 15%;
	height: 15%;
}
#logoS
{
	width: 22%;
	height: 20%;
	padding-left: 80px;
}
.bleu
{
	background-color: #0C29A4;
	border-color: #0C29A4;
}
.blanc
{
	color: #FFFFFF;
}
